{% extends "tethys_apps/app_base.html" %}

{% load static %}

{% block title %}{{ tethys_app.name }}{% endblock %}

{% block app_icon %}
{# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
<img src="{% if 'http' in tethys_app.icon %}{{ tethys_app.icon }}{% else %}{% static tethys_app.icon %}{% endif %}"/>
{% endblock %}

{# The name you provided in your app.py is accessible through the tethys_app.name context variable #}
{% block app_title %}{{ tethys_app.name }}{% endblock %}

{% block app_navigation_items %}
<li class="separator"></li>
<div class="form-outline">
        <label class="form-label" id="area_p" for='typeSelect'>Country</label>
        <select type = 'select' class="form-control" id = "area_id">
                <option value="1">Bangladesh</option>
                <option value="2">Israel</option>
                <option value="3">China</option>
        </select>
<div>
<p class="separator"></p>
<div class="form-outline">
        <label class="form-label" id="extent_p" for='typeSelect'>Extent</label>
        <select type = 'select' class="form-control" id = "extent_id">
                <option value="1" >Choose an Extent</option>
                <option value="1" >Max Extents</option>
                <option value="2" >Average Extents</option>
                <option value="3" >Probabilistic Extents</option>
        </select>
<div>
<p class="separator"></p>
<label for="wms-layer-opacity">Layer Opacity</label>
<input type="range" min="0" max="1" id="wms-layer-opacity" step=".05" value="1">
{% endblock %}

{% block app_content %}
<div id="map"></div>
{% endblock %}

{% block app_actions %}
{% endblock %}

{% block content_dependent_styles %}
{{ block.super }}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""/>
<link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css"/>
<link href="{% static 'fierapp/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
<script src="https://unpkg.com/esri-leaflet@2.5.0/dist/esri-leaflet.js"
        integrity="sha512-ucw7Grpc+iEQZa711gcjgMBnmd9qju1CICsRaryvX7HJklK0pGl/prxKvtHwpgm5ZHdvAil7YPxI1oWPOWK3UQ=="
        crossorigin=""></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/iso8601-js-period@0.2.1/iso8601.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/leaflet-timedimension@1.1.0/dist/leaflet.timedimension.min.js"></script>

<script src="{% static 'fierapp/js/main.js' %}" type="text/javascript"></script>
{% endblock %}